.box {
  height: 250px;
  border: 1px solid gray;
  color: white;
}


.text-box {
  cursor: pointer;
}

.center-align {
  margin-left:130px;
}

.reveal {
  background-color:black;
}

.keep {
  background-color:#003300;
}