<div class='container'>
  <h1 class='center-align'>Memory Game</h1>
  <hr />

  <div class='row'>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>1</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>4</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>7</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>6</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>4</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>8</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>3</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>5</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>6</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>8</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>7</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>1</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>2</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>2</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>5</h1>
    </div>
    <div class='col s3 box text-box valign-wrapper'>
      <h1 class='valign center-align'>3</h1>
    </div>
  </div>
  <button id='play' class='waves-effect waves-light btn'>Start Over</button>
</div>

